.header-container {
    background-color: whitesmoke;
    display: flex;
}

.header-item img{
    width: 50%;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;

}

.header-item {
    text-align: center;
}